.app__header {
    /* background-color: var(--color-black); */
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,1) 9%, rgba(7,50,148,1) 24%, rgba(0,212,255,1) 51%);
}

.app__header-h1 {
    font-family: var(--font-base);
    color: #ffae01;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 117px;
    font-size: 90px;
}

.app__header-img img {
    width: 100%;
}